:root{
    --fundo:#956f80;
    --cor-texto:#abd16f;
    --cor-texto-preto:#1a1c17;
    --frente-cartao: #5c6ba1;
    --verso-cartao: #75315c;
}

body{
    background-color: var(--fundo);
}

.cartao__conteudo{
    background-color: var(--frente-cartao);
    text-align: center;
}

.cartao__conteudo h3{
    color: bisque;
    border: 1px solid var(--cor-texto-preto);
    text-align: left;
    padding: 0.5rem;
    margin: 0.6rem;
}
